# python specfic ignores
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
src/*.egg-info
.ipynb_checkpoints

# workspace ignores
scratch

# Agro project directory
.agdocs/

# Agro worktrees
trees/
